
nbproject/private/private.properties
/TraductorXMLJSON-master/build/
/TraductorXMLJSON-master/nbproject/private/
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/project.properties
