
nbproject/private/private.properties
/TraductorXMLJSON-master/build/
/TraductorXMLJSON-master/nbproject/private/
nbproject/private/private.properties
TraductorXMLJSON/nbproject/private/private.xml
*.xml
*.properties
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/project.properties
nbproject/private/private.properties
nbproject/private/private.properties
build/test/classes/traductorxmljson/controlDatosTest.class
build/test/classes/traductorxmljson/controlDatosTest.class
nbproject/private/private.properties
